.container {
  overflow: hidden;
  padding: 80px 0 0;
  background-color: #ffffff;
}

.slider {
  --swiper-navigation-size: 0;
  overflow: visible;
  width: calc(100vw - 40px);
  max-width: 1740px;
}

.sliderControl {
  position: absolute;
  height: 48px;
  width: fit-content;
  display: flex;
  gap: 8px;
  top: -72px;
  right: 0;

  @media (width >= 756px) {
    top: -112px;
  }
}

.slide {
  border: 1px solid #29292d14;
  padding: 16px;
  border-radius: 4px;
}

.content {
  width: 100%;
  display: grid;
}

.title {
  color: #29292d;
  padding-bottom: 112px;
  font-size: 2.5rem;
  font-weight: 400;

  @media (width >= 756px) {
    font-size: 2.875rem;
    padding-bottom: 64px;
  }

  @media (width >= 768px) {
    font-size: 3rem;
  }
}

.image {
  width: 100%;
  height: 356px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}

.text {
  display: inline-block;
  color: #29292db2;
  font-size: 0.75rem;
  line-height: 2;
  margin-bottom: 16px;
}

.name {
  color: #29292d;
  font-weight: 700;
}
