.container {
  overflow: hidden;
  padding: 80px 20px 0;
  background-color: #FFFFFF;
}

.slider {
  --swiper-navigation-top-offset: -24px;
  overflow: visible;
  max-width: calc(100vw - 40px);
  width: 100%;
}

.sliderControl {
  position: relative;
}

.slide {
  border: 1px solid #29292D14;
  padding: 16px;
  border-radius: 4px;
}

.content {
  width: 100%;
}

.title {
  color: #29292D;
  padding-bottom: 112px;
}

.image {
  width: 100%;
  height: 356px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}

.text {
  display: inline-block;
  color: #29292DB2;
  font-size: .75rem;
  line-height: 2;
  margin-bottom: 16px;
}

.name {
  color: #29292D;
  font-weight: 700;
}