.container {
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 10;
	background-color: var(--sidebar-color-background);
	width: 100vw;
	height: 100vh;
	display: flex;
}


.menuItems {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 100%;
}


.menuItem {
	display: grid;
	align-content: start;
	gap: 4px;
	padding: 24px 40px 0;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}


.titleContainer {
	padding: 12px 0;
	display: flex;
	justify-content: space-between;
	font-family: var(--font-montserrat-sans);
	font-weight: 700;
	font-size: 1rem;
	line-height: 1;
}


.catalogItem {
	padding: 12px 0 12px 12px;
	cursor: pointer;
	font-family: var(--font-montserrat-sans);
	font-weight: 500;
	font-size: .875rem;
	line-height: 1.5;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);

	&:hover {
		background-color: #2F2F32;
	}

	&.active {
		background-color: #2F2F32;
	}
}


.titleNumber {
	opacity: .2;
}


.image {
	height: 100%;
	object-fit: cover;
}