.container {
	overflow: hidden;
	padding: 80px 0;
	width: 100vw;
	background-color: #FFFFFF;

	@media (min-width: 1024px) {
		padding: 100px 0;
	}
}


.top {
	max-width: 100vw;
	padding-bottom: 40px;
	border-bottom: 1px solid #cececf;

	@media (min-width: 768px) {
		padding-bottom: 50px;
	}

	@media (min-width: 1024px) {
		padding-bottom: 40px;
	}

}


.chipsTrack {
	display: flex;
	gap: 0 24px;
}


.bottom {
	margin-top: 40px;
}


.infoContainer {
	color: #29292D;
	display: flex;
	gap: 40px 20px;
	flex-wrap: wrap;
}


.title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 24px;
}


.infoBlock {
	flex-grow: 1;
	flex-basis: 340px;
	//flex-shrink: 340px;
	//flex: 1 1 340px;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
}


.gridContainer {
	display: grid;
	gap: 32px;
}


.infoListItem {
	margin-left: 24px;
	list-style-type: disc;
}
