.modal-catalog__container {
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: calc(100% - 32px);
  max-width: 1240px;
  height: 82dvh;
  overflow: hidden;
  display: flex;
  background-color: var(--background-surface-1);
  border-radius: 8px;
  padding: 24px;
  max-width: 1280px;

  @media (min-width: 768px) {
    top: 112px;
  }

  @media (min-width: 1200px) {
    margin: 0;

    padding: 40px;
  }
}


.menuItems {
  width: 100%;
  display: flex;
  grid-template-columns: auto;
  height: 100%;
}


.menuItem {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  display: grid;
  align-content: start;
  gap: 4px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  scrollbar-width: none;

  @media (min-width: 1200px) {
    padding: 0 45px;

    &:first-child {
      padding: 0 45px 0 0;
    }

    &:last-child {
      padding: 0 0 0 45px;
    }
  }

  &:last-child {
    border-right: none;
  }
}


.catalog__header {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
}


.catalog__button {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (min-width: 1380px) {
    display: none;
  }

  & svg {
    transform: rotate(180deg);
  }
}


.titleNumber {
  opacity: .2;
}


.catalogItem {
  width: 100%;
  display: flex;
  gap: 0 12px;
  padding: 12px 12px 12px 12px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  &:hover {
    background-color: #2F2F32;
  }

  &.active {
    background-color: #2F2F32;
  }
}


.catalogItem_svg {
  margin-left: auto;
  min-width: 24px;

  @media (min-width: 1200px) {
    display: none;
  }
}