.Breadcrumbs {
  max-width: calc(100vw - 40px);
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 40px;

  .SubtitleS3 {
    color: var(--secondary-secondary);

    &:last-child {
      color: #FFFFFF;
    }
  }

  svg {
    display: inline;
    stroke: var(--secondary-secondary);
    width: 24px;
    min-width: 24px;

    &:last-of-type {
      stroke: #FFFFFF;
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}


.Breadcrumbs__item {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.5;
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1rem);
}