.PopularProductsCardList__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  min-width: 220px;
  width: 100%;
  padding: 18px 0;
  background-color: var(--background-surface-1);
  border-radius: 16px;
  grid-column: 1 / -1;

  &:hover:not(:disabled) {
    background-color: var(--brand-brand-primary);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

}