.ProductDetailsPreview__content {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-bottom: 24px;

	@media (min-width: 768px) {
		flex-direction: row;
		gap: 80px;
	}
}


.ProductDetailsPreview__sku {
	margin-bottom: 16px;
}


.ProductDetailsPreview__name {
	margin-bottom: 32px;
}


.title {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
}


.product {
	width: fit-content;
	//max-width: 714px;
	display: flex;
	flex-direction: column;
	//gap: 40px;

	@media (min-width: 1024px) {
		//background-color: #2F2F32;
		//padding: 48px 40px;
	}
}


.info {
	display: grid;
	gap: 32px;
	@media (max-width: 549px) {
		order: 1;
	}
}


.price {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
}


.cartContainer {
	display: flex;
	gap: 16px;

	@media (min-width: 550px) {
		display: flex;
	}
}


.cartCounter {
	height: 56px;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, 44px);
	border-radius: 33px;
}


.cartAddButton {
	width: 100%;
	white-space: nowrap;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding: 14px 24px;
	background-color: var(--brand-brand-primary);
	border-radius: 33px;
}


.actionsCard {
	display: grid;
	gap: 32px;
	margin-top: auto;
	@media (max-width: 549px) {
		order: 3;
	}
}


.actions {
	display: grid;
	gap: 16px 32px;
	@media (min-width: 550px) {
		display: flex;
	}

	@media (max-width: 549px) {
		order: 2;
	}
}


.actionsButton {
	fill: #FFFFFF;
	display: flex;
	align-items: center;
	gap: 8px;
}