.chip {
  transition:
    background-color 0.2s linear,
    color 0.2s linear;
  padding: 10px 16px;
  border-radius: 33px;
  border: 1px solid #ffffff29;

  &[data-active='active'] {
    background-color: #ffffff;
    color: var(--app-color-background);
  }
}

.text {
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 400;
}
