.chip {
	transition: background-color 0.2s linear, color 0.2s linear, border-radius 0.2s linear;
	padding: 10px 16px;
	border-radius: 33px;


	&[data-type='dark'] {
		background-color: var(--app-color-background);
		border: 1px solid #ffffff29;
		color: #FFFFFF;
	}

	&[data-type='dark'][data-active='active'] {
		background-color: #ffffff;
		color: var(--app-color-background);
	}

	&[data-type='light'] {
		background-color: #FFFFFF;
		border: 1px solid #29292D29;
		color: #29292D;
	}

	&[data-type='light'][data-active='true'] {
		background-color: #29292D;
		border: 1px solid #29292D;
		color: #FFFFFF;
	}
}


.text {
	white-space: nowrap;
	font-size: 1rem;
	line-height: 1.625;
	font-weight: 500;
}
