.ArticleCard {
  display: block;
  border-radius: 16px;
  padding: 16px 16px 24px;
  background-color: var(--background-surface-1);

  width: 100%;
}

.ArticleCard__image {
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  width: 100%;
  height: 356px;
  margin-bottom: 24px;
}

.ArticleCard__text {
  display: block;
  margin-bottom: 12px;
}