.UISelect {
  position: relative;
  @media (min-width: 768px) {
    display: none;
  }
}

.UISelect__select {
  width: 100%;
  padding: 18px 20px;
  background-color: var(--brand-brand-primary);
  border-radius: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:after {
    transition: transform .3s ease;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17 14L12 9L7 14' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") no-repeat center/contain;
  }

  &[data-open="true"]:after {
    transform: rotate(180deg);
  }
}

.UISelect__options {
  position: absolute;
  display: grid;
  background-color: var(--background-surface-2);
  border-radius: 24px;
  padding: 16px 24px;
  width: 100%;
}

.UISelect__option {
  padding: 8px 0;
  text-align: left;

  &[data-active="true"] {
    color: var(--brand-brand-secondary);
  }
}