.container {
	max-width: 100vw;
}


.slider {
	margin-top: 40px;
	padding-bottom: 56px;
	--swiper-scrollbar-bottom: 0;
	--swiper-scrollbar-sides-offset: 0%;

	@media (min-width: 550px) {
		width: calc(100vw - 20px);
	}

	@media (min-width: 768px) {
		margin-top: 64px;
	}

	@media (min-width: 1024px) {
		width: 100%;
	}
}


.slide {
	height: auto;
}


.title {
	font-size: clamp(2rem, 1.118rem + 3.92vw, 3rem);
	font-weight: 700;
}