.product-attribute {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 16px;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 0;
    align-items: start;
  }
}

.attribute-label {
  color: var(--secondary-secondary);
}

.attribute-link {
  color: var(--brand-brand-secondary);
}

.attribute-values {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.attribute-select {
  width: 100%;
  padding: 12px 16px;
  border-radius: 24px;
  border: 1px solid var(--border-outline);
  background-color: var(--background-surface-1);
  color: var(--background-on-surface-1);
  appearance: none;
}

.attribute-select:focus {
  outline: none;
  border-color: var(--brand-brand-secondary);
}
