.burger {
  background-color: #FFFFFF;
  width: 48px;
  height: 48px;

  @media (width >= 768px) {
    width: 80px;
    height: 80px;
  }
}

.burger__icon {
  width: 26px;
  height: 20px;

  @media (width >= 768px) {
    width: 32px;
    height: 26px;
  }
}