.burger {
	grid-area: right;
	align-self: center;
	width: 32px;
	height: 32px;
	display: flex;
	padding: 6px 3px;
}


.burger_svg {
	width: 26px;
	height: 20px;
}


.burger_svg__line {
	transition: transform 0.4s ease-out, opacity 0.4s linear, width 0.4s linear;
	transform-origin: center;
}


.burger_svg__line {
	fill: var(--primary-primary);
}


.burger_svg[data-state='close'] {
	.burger_svg__line-top {
		transform: translateY(8px) translateX(-7px) rotateZ(45deg);
	}

	.burger_svg__line-center {
		opacity: 0;
	}

	.burger_svg__line-bottom {
		transform: translateY(-9px) translateX(-8px) rotateZ(-45deg);
		width: 31px;
	}
}

