.qty {
  min-width: 120px;
  width: 120px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33px;
  border: 1px solid var(--border-outline);
  overflow: hidden;

  button {
    height: 100%;
  }

  label {
    text-align: center;
    width: 24px;
    min-width: 24px;
  }

  input {
    height: 24px;
    width: inherit;
    text-align: center;
    appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}


.cartContainer {
  .qty {
    button {
      width: 100%;
      flex-grow: 1;
    }

    label {
      //margin: 0 16px;
    }
  }
}
