.categories-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
	flex-direction: column;
	gap: 32px;

	@media (min-width: 768px) {
		flex-direction: row;
	}
}


.categories-buttons {
	display: flex;
	gap: 45px;
	justify-content: space-between;
}


.CatalogShell {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}


.CatalogShell__sidebar--decktop {
	//display: none;
	width: 100%;
	max-width: 305px;
	max-height: 70dvh;

	@media (max-width: 768px) {
		display: none;
	}
}
