.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.header__logo {
  width: 77px;
  height: 30px;
}

.header__links {
  display: none;
  gap: 4px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__link {
  padding: 20px 25px;
}