@use '../shared/assets/styles/vars';
@import "normalize.css";

* {
  box-sizing: border-box;
}

html {
  background-color: var(--app-color-background);
  color: var(--app-text-color);
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat-sans);
  font-style: italic;
}

p {
  font-family: var(--font-inter-sans);
}

button, input {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

ul, button, input {
  padding: 0;
  margin: 0;
}

li, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.HomePage {
  display: grid;
  gap: 80px;
}