@use '../shared/assets/styles/vars';
@use "tailwindcss";
@import 'normalize.css';


* {
	box-sizing: border-box;
}


html {
	background-color: var(--app-color-background);
	color: var(--app-text-color);
	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 16px;
}


body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 320px;
	min-height: 100vh;

	// Стили для Webkit-браузеров (Chrome, Safari, Opera)
	&::-webkit-scrollbar {
		display: none;
	}

	//&::-webkit-scrollbar-track {
	//  background: #f1f1f1;
	//  border-radius: 10px;
	//}
	//
	//&::-webkit-scrollbar-thumb {
	//  background-color: #888;
	//  border-radius: 10px;
	//  border: 3px solid #f1f1f1;
	//
	//  &:hover {
	//    background-color: #555;
	//  }
	//}
	//
	//// Стили для Firefox, которые применяются только в Firefox
	//@-moz-document url-prefix() {
	//  scrollbar-width: thin;
	//  scrollbar-color: #888 #f1f1f1;
	//}
}


main {
	flex-grow: 1;
	margin: 0 auto;
	padding-top: 48px;
	width: 100%;

	@media (min-width: 768px) {
		padding-top: 80px;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-century-gothic-sans);
	font-weight: 400;
	line-height: 1.2;
	margin: 0;
}


p {
	font-family: var(--font-montserrat-sans);
	margin: 0;
	font-weight: 500;
}


button, input {
	outline: none;
	background: none;
	border: none;
	cursor: pointer;
}


ul, button, input {
	padding: 0;
	margin: 0;
}


figure {
	margin: 0;
}


li, ol {
	list-style-type: none;
}


a {
	text-decoration: none;
	color: inherit;
}


heading {
	font-size: clamp(3rem, 1.676rem + 5.88vw, 4.5rem);
	font-weight: 400;
	line-height: 1;

	@media (min-width: 768px) {
		font-size: clamp(4.5rem, 0.278rem + 8.8vw, 6.875rem);
	}

	@media (min-width: 1600px) {
		font-size: 8.75rem;
	}
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: none;
	margin: 0; /* убираем «толкатель» внутрь поля */
}


.HomePage {
	display: grid;
	gap: 80px;
}


.info {
	width: 100vw;
	background-color: #ffffff;
}


.info__container {
	max-width: 1740px;
	margin: 0 auto;
	padding: 0 20px;
	@media (min-width: 1780px) {
		padding: 0;
	}
}


.block-limiter {
	width: 100%;
	max-width: 1740px;
	margin: 0 auto;
	padding: 0 20px;
	@media (width >= 1780px) {
		padding: 0;
	}
}

.LayoutProductDetails{
	display: grid;

	gap: 80px;

	@media (min-width: 1024px) {
		gap: 100px;
	}
}

.containerPrice[data-font-size='big'] {
	font-size: 1.5rem;
}