@use '../assets/styles/vars';
//@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: var(--main-color-background);
  color: var(--main-text-color);
  font-family: Inter, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;

}

main {
  max-width: 1560px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat-sans);
  font-style: italic;
}

p {
  font-family: var(--font-inter-sans);
}

.HomePage{
  display: grid;
  gap: 80px;
}
