.MainSliderDecorationItems {
  display: flex;
  gap: 24px;
}

.MainSliderDecorationItems__item {
  position: relative;
  border: 1px solid var(--main-accent-color-10);
  border-radius: 16px;
  flex: 1;
  height: 160px;
  padding: 24px;
  overflow: hidden;
}

.MainSliderDecorationItems__item-title {
  width: 60%;
  display: block;
  font-family: var(--font-montserrat-sans);
  font-style: italic;
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 600;
}

.MainSliderDecorationItems__item-image {
  position: absolute;
  top: -11px;
  right: 8px;
}