.card {
	display: block;
	position: relative;
	padding: 16px 16px 24px;
	border: 1px solid #FFFFFF3D;
	border-radius: 4px;
	height: 100%;
	&:hover {
		background-color: #FFFFFF0A;
	}
}

.cardContainer{
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-rows: min-content 1fr;
	height: 100%;
	gap: 16px;
}

.image {
	width: 100%;
	height: 322px;
	border-radius: 4px;
	object-fit: cover;
}


.productActions {
	z-index: 2;
	position: absolute;
	padding: 10px;
	top: 32px;
	right: 32px;
	display: grid;
	grid-auto-rows: 32px;
	background-color: #e8e8e8;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
}


.productButton {
	width: 32px;
	height: 32px;
	padding: 4px;
}


.productIcon {
	fill: #29292D;
}

.inCartIcon{
	fill: red;
}


.productInfo {
	display: grid;
	gap: 16px;
}


.productTitle {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
}

.productPrice{
	margin-top: auto;
}