.images {
	display: flex;
	gap: 20px;
	@media (min-width: 1024px) {
		max-height: 570px;
	}
}


.imagesList {
	overflow-y: auto;
	display: none;
	gap: 20px;
	min-width: 88px;
	grid-template-columns: 88px;
	grid-auto-rows: 88px;
	scrollbar-width: none;

	@media (min-width: 1200px) {
		display: grid;
	}
}


.previewImageContainer {
	width: 100%;
	@media (min-width: 1024px) {
		width: 522px;
		height: 570px;
	}
}


.previewImage {
	object-position: center;
	object-fit: cover;
	border-radius: 12px;
	width: 100%;
	height: 100%;
}


.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}
