.images {
	display: flex;
	gap: 20px;
	overflow: hidden;
	@media (min-width: 1024px) {
		max-height: 560px;
	}
}


.imagesList {
	overflow-y: auto;
	display: none;
	gap: 20px;
	min-width: 125px;
	grid-template-columns: 125px;
	grid-auto-rows: 125px;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background-color: #2F2F32;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #848484;
	}

	@media (min-width: 1200px) {
		display: grid;
	}
}


.previewImageContainer {
	width: 100%;
	@media (min-width: 1024px) {
		max-width: 714px;
		max-height: 560px;
	}
}


.previewImage {
	object-position: center;
	object-fit: cover;
	border-radius: 4px;
	width: 100%;
	height: 100%;
}


.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
}
