.chip {
  transition: background-color 0.2s linear;
  padding: 14px 20px;
  border-radius: 33px;
  display: flex;
  height: 48px;
  background-color: var(--background-surface-1);
  color: #FFFFFF;



  &[data-type='product-details'] {
    background-color: var(--background-surface-2);
  }

  &[data-active='active'] {
    background-color: var(--brand-brand-primary);
  }
}