.container {
	position: relative;
	display: grid;
	gap: 40px;

	@media (width >= 768px) {
		gap: 64px;
	}
}


.header {
	width: 100%;
}


.title {
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	@media (width >=768px) {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}


.chips {
	overflow: auto;
	width: calc(100vw - 40px);
	display: flex;
	gap: 24px;

	&::-webkit-scrollbar {
		display: none;
	}

	@media (width >= 1200px) {
		max-width: 70%;
	}
}


.list {
	display: grid;
	gap: 20px 20px;

	@media (width >= 768px) {
		grid-template-columns: 1fr 1fr;
		gap: 40px 20px;
	}

	@media (width >= 1050px) {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 40px 20px;
	}

	@media (width >= 1600px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


.link {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.625;
	justify-self: end;
	width: fit-content;
	display: inline-block;
	border: 1px solid #ffffff;
	border-radius: 33px;
	padding: 10px 16px;
	background-color: #ffffff;
	color: #29292d;

	@media (min-width: 1200px) {
		position: absolute;
		top: 150px;
		right: 20px;
	}

	@media (min-width: 1600px) {
		top: 180px;
	}
}
