@use '../../../../styles/skeleton';

.ProductDetailsAbout {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 80px;

  @media (min-width: 768px) {
    gap: 40px;
  }

  @media (min-width: 1200px) {
    &:not(.ProductDetailsAbout--has-description) {
      flex-direction: row;
      justify-content: space-between;

      .ProductDetailsAbout__characteristics {
        width: 50%;
      }
    }
  }


  .product-attribute:last-child {
    margin-bottom: 0;
  }
}

.ProductDetailsAbout--has-description {
  @media (min-width: 1200px) {
    display: grid;
    grid-template-areas:
      'title description'
      '.      characteristics';
    grid-template-columns: 0.6fr 1fr;
  }
}

.ProductDetailsAbout__title {
  scroll-margin-top: 160px;

  @media (min-width: 1200px) {
    grid-area: title;
  }
}

.ProductDetailsAbout__description {
  @media (min-width: 1200px) {
    grid-area: description;
  }
}

.ProductDetailsAbout__characteristics {
  @media (min-width: 1200px) {
    grid-area: characteristics;
  }
}

.ProductDetailsAbout--skeleton {
  gap: 24px;
}

.ProductDetailsAbout__description--skeleton {
  display: grid;
  gap: 12px;
}

.ProductDetailsAbout__characteristics--skeleton {
  display: grid;
  gap: 12px;
}

.ProductDetailsAbout__characteristics-row {
  display: flex;
  gap: 12px;
  align-items: center;
}
