.CategoryCard {
  display: flex;
  align-items: flex-end;
  height: 480px;
  position: relative;
  padding: 24px 24px 30px;
}

.CategoryCard__image {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  width: 100%;
}

.CategoryCard__bottom {
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CategoryCard__link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  stroke: #3b3441;
}