.root {
  background-color: var(--background-surface-1);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  border-radius: 16px;
}

.pageItem {
  min-width: 64px;
  min-height: 64px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:not(.break):hover {
    background-color: #FFFFFF0A;
  }
}

.pageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
}

.active {
  border-bottom: 3px solid var(--brand-brand-primary);
  color: var(--text-primary-invert, #ffffff);
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.break {
  cursor: default;
  min-width: 24px;
}
