@font-face {
  font-family: 'CenturyGothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./CenturyGothic/CenturyGothic_Regular.woff2') format('woff2'),
  url('./CenturyGothic/CenturyGothic_Regular.woff') format('woff');
}