.Breadcrumbs {
	max-width: calc(100vw - 40px);
	display: flex;
	flex-wrap: wrap;
	gap: 4px;


	& a {
		font-weight: 500;
	}

	& span {
		font-weight: 600;
	}

	& svg {
		display: inline;
		stroke: white;
		width: 24px;
		min-width: 24px;
	}

	@media (max-width: 768px) {
		display: none;
	}
}


.Breadcrumbs__item {
	line-height: 1.5;
	font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1rem);
}