.card {
  display: block;
  position: relative;
  padding-top: 64px;

  @media (min-width: 768px) {
    background-color: #2F2F32;
    padding: 72px 24px 40px;

    &:hover {
      background-color: #FFFFFF0A;
    }
  }
}


.buttonDelete {
  transition: transform .1s ease;
  position: absolute;
  top: 0;
  right: 0;


  &:hover {
    transform: scale(1.2);
  }

  @media (min-width: 768px) {
    top: 24px;
    right: 40px;
  }
}


.cardContainer {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
  gap: 16px;
}


.image {
  width: 100%;
  height: 322px;
  border-radius: 4px;
  object-fit: cover;
}


.productInfo {
  display: grid;
}


.productLink {
  display: grid;
  gap: 32px;

  @media (min-width: 768px) {
    gap: 24px;
  }
}


.productTitle {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}


.productDescription {
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.productVariant {
  margin-bottom: 24px;
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0.9;

  span:last-child {
    font-weight: 600;
  }
}


.productPrice {
  display: flex;
  gap: 32px;

  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
  }

}

.productTotal {
  margin-top: 40px;
  display: flex;
  gap: 8px;
  align-items: baseline;
  font-weight: 700;
}


.productControls {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
