.footer {
	width: 100%;
	font-size: var(--font-montserrat-sans);
	padding: 80px 20px 124px;
	display: grid;
	gap: 40px 0;
	grid-template-areas: 'logo' 'contacts' 'categories' 'menu' 'info';

	@media (width >= 768px) {
		grid-auto-rows: 44px auto auto;
		grid-auto-columns: 1fr 1fr 1fr;
		grid-template-areas: 'logo contacts contacts' 'categories categories menu' 'info info info';
	}

	@media (width >= 1200px) {
		grid-template-areas: 'logo . . .''info info . .' 'categories categories menu contacts';
		gap: 30px 0;
		padding-bottom: 88px;
	}

	@media (width >= 1600px) {
		grid-template-areas: 'logo categories categories menu contacts' 'info categories categories menu contacts';
	}

	@media (min-width: 1780px) {
		padding-left: 0;
		padding-right: 0;
	}
}


.footer__navigation {
	display: grid;
	gap: 24px 0;
	@media (width >= 1200px) {
		grid-auto-rows: min-content auto;
	}
}


.footer__logo {
	grid-area: logo;
}


.footer__info {
	grid-area: info;
	display: grid;
	gap: 16px;
	grid-auto-rows: min-content;
	@media (min-width: 450px) {
		grid-auto-flow: column;
		justify-content: flex-start;
	}
	@media (min-width: 600px) {
		gap: 16px 40px;
	}
	@media (width >= 1200px) {
		grid-auto-flow: row;
		gap: 8px 0;
		margin-bottom: 34px;

	}
}


.footer__contacts {
	grid-area: contacts;

	& .footer-navigation__list {
		@media (min-width: 768px) {
			grid-auto-flow: column;
			align-items: center;
			justify-content: flex-end;
		}
		@media (width >= 1200px) {
			grid-auto-flow: row;
			align-items: start;
			justify-content: flex-start;
			grid-auto-rows: min-content;
		}
	}
}


.footer__menu {
	grid-area: menu;

	& .footer-navigation__list {
		gap: 16px 0;
	}
}


.footer__categories {
	grid-area: categories;

	& .footer-navigation__list {
		@media (min-width: 520px) {
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: 18px;
		}
	}

	@media (width >= 768px) and (width < 1200px) {
		margin-right: 20px;
	}
}


.footer__contacts .footer-navigation__title {
	@media (width < 1200px) {
		display: none;
	}
}


.footer-navigation__title {
	height: fit-content;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	padding-bottom: 24px;
	border-bottom: 1px solid #FFFFFF29;
}


.footer__button {
	padding: 10px 16px;
	background-color: #FFFFFFCC;
	border: 1px solid #FFFFFF;
	border-radius: 33px;
	width: fit-content;
	color: #29292D;
	font-size: 0.875rem;
	line-height: 1.5;
	font-weight: 400;
}


.footer-navigation__list {
	display: grid;
	gap: 24px 0;

	@media (min-width: 768px) {
		gap: 16px 12px;
	}
}


.footer-navigation__list-item {
	white-space: nowrap;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.3;
}


.footer__info-text {
	color: #FFFFFF;
	display: inline-block;
	width: fit-content;
	font-weight: 500;
	font-size: .75rem;

	@media (width < 1200px) {
		opacity: .5;
	}
}