.header {
	background-color: var(--header-color-background);
	z-index: 15;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
}

.headerWrapper{
	width: 100%;
	max-width: 1830px;
	margin: 0 0 0 auto;
	padding: 0 0 0 20px;

	@media (width >= 1780px) {
		padding: 0;
	}

	@media (min-width: 2000px) {
		margin: 0 auto;
		max-width: 1740px;
	}
}


.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (width >= 768px) {
		justify-content: normal;
	}
}


.headerLogo {
	width: 77px;
	height: 30px;

	@media (width >= 768px) {
		width: 112px;
		height: 44px;
	}
}


.headerLinks {
	display: none;
	gap: 4px;

	@media screen and (min-width: 768px) {
		display: flex;
		margin-left: auto;
	}
}


.headerLinksRight {
	display: none;

	@media screen and (min-width: 1200px) {
		display: flex;
		gap: 0 4px;
		margin: 0 0 0 11%;
	}
}


.link {
	height: 80px;
	padding: 18px 24px;
	display: grid;
	gap: 4px 0;
	flex-grow: 1;
	font-size: .75rem;
	text-align: center;
	background-color: #FFFFFF0D;
}


.link__icon {
	margin: 0 auto;
	fill: #FFFFFF;
	fill-opacity: .5;
}


.headerLink {
	display: flex;
	align-items: center;
	background-color: #FFFFFF0D;
	padding: 20px 25px;
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1;
}