.header {
  background-color: var(--header-color-background);
  z-index: 15;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;

  @media (width >= 768px) {
    justify-content: normal;
  }
}

.header__logo {
  width: 77px;
  height: 30px;

  @media (width >= 768px) {
    width: 112px;
    height: 44px;
  }
}

.header__links {
  display: none;
  gap: 4px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
  }
}

.header__links_right {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 0 4px;
    margin: 0 4px 0 auto;
  }
}

.link {
  padding: 18px 24px;
  display: grid;
  gap: 4px 0;
  flex-grow: 1;
  font-size: .75rem;
  text-align: center;
  background-color: #FFFFFF0D;
}

.link__icon {
  margin: 0 auto;
  fill: #FFFFFF;
  fill-opacity: .5;
}

.header__link {
  display: flex;
  align-items: center;
  background-color: #FFFFFF0D;
  padding: 20px 25px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
}