@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/CenturyGothic/CenturyGothic_Regular.woff2') format('woff2'),
  url('/fonts/CenturyGothic/CenturyGothic_Regular.woff') format('woff');
}