:root {
  color-scheme: light dark;

  --font-montserrat-sans: var(--font-montserrat-sans);
  --font-inter-sans: var(--font-inter-sans);
  --font-century-sans: CenturyGothic;

  /* --------- Global --------- */
  --app-color-background: #29292D;
  --app-text-color: #FFFFFF;

  /* main-accent-color */

  /* --------- UI unit elements --------- */
  --color-ui-unit-element: #223342;

  /* --------- // UI all elements --------- */
  --color-ui-element-background: #223342;


  /* --------- Swiper --------- */
  --swiper-navigation-color-accent: #FFFFFF;

  ///* --------- Global Modal --------- */
}

@media (prefers-color-scheme: dark) {
}
