:root {
  color-scheme: light dark;

  --font-montserrat-sans: var(--font-montserrat-sans);
  --font-inter-sans: var(--font-inter-sans);
  --font-century-sans: CenturyGothic;

  /* --------- Global --------- */
  --app-color-background: #29292D;
  --header-color-background: #242427;
  --app-text-color: #FFFFFF;
  --sidebar-color-background: #28282B;

  /* main-accent-color */

  /* --------- UI unit elements --------- */
  --color-ui-unit-element: #223342;

  /* --------- // UI all elements --------- */
  --color-ui-element-background: #223342;


  /* --------- Swiper --------- */
  --swiper-navigation-color-accent: #FFFFFF;

  --swiper-scrollbar-bg-color: #3e3e42;
  --swiper-scrollbar-drag-bg-color: #ffffff;
  --swiper-scrollbar-size: 24px;
  --swiper-scrollbar-border-radius: 0;

  ///* --------- Global Modal --------- */
}

@media (prefers-color-scheme: dark) {
}
