.SliderContainer {
  position: relative;
}

.SliderContainer__title {
  margin-bottom: 40px;
}

.SliderContainer {
  .swiper-button-prev, .swiper-button-next {
    top: 0;
    margin: 0;
    z-index: 3;
    width: 48px;
    height: 48px;
    background-color: var(--background-surface-1);
    border-radius: 50%;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    right: 56px;
    left: auto;
  }
}

.SliderContainer {
  --swiper-navigation-color: #FFF;
  --swiper-navigation-size: 10px;
}