.SliderContainer {
  position: relative;
}

.SliderContainer__title {
  margin-bottom: 112px;

  @media (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.SliderContainer {

  .swiper-button-prev,
  .swiper-button-next {
    top: 71px;
    margin: 0;
    z-index: 3;
    width: 48px;
    height: 48px;
    background-color: var(--background-surface-1);
    border-radius: 50%;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    right: 56px;
    left: auto;
  }


  @media (min-width: 1200px) {

    .swiper-button-prev,
    .swiper-button-next {
      top: 0;
    }
  }
}

.SliderContainer {
  --swiper-navigation-color: #FFF;
  --swiper-navigation-size: 10px;
}