.container {
	display: grid;
	gap: 40px 0;
}


.slider {
	--swiper-scrollbar-sides-offset: 0%;
	--swiper-scrollbar-bottom: 0;
	max-width: 1280px;
	height: 480px;
}


.slide {
	border-radius: 8px;
	height: 100%;
	background-size: cover;
	display: flex;
	align-items: flex-end;
}


.content {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 24px 30px;
}


.link {
	width: 40px;
	height: 40px;
	padding: 12px;
	border-radius: 50%;
	background-color: #ffffff;
	stroke: #3b3441;
}