.ProductCard {
	width: 100%;
	display: grid;
	gap: 20px;
	position: relative;
	padding: 16px 16px 24px;
	border-radius: 16px;
	background-color: var(--background-surface-1);
}


.ProductCard__link-image {
	display: block;
	position: relative;
	overflow: hidden;
}


.ProductCard__image {
	width: 100%;
	height: 322px;
	border-radius: 12px;
	object-fit: cover;
	display: block;

	@media (min-width: 1200px) {
		height: 273px;
	}
}


.ProductCard__actions {
	z-index: 2;
	position: absolute;
	padding: 10px;
	top: 28px;
	right: 24px;
}


.ProductCard__bottom {
	display: grid;
	gap: 32px;
}


.productButton {
	width: 32px;
	height: 32px;
	padding: 4px;
}


.productIcon {
	fill: #29292D;
}


.inCartIcon {
	fill: red;
}


.productInfo {
	display: grid;
	gap: 16px;
}


.ProductCard__title {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5;
}


.productPrice {
	margin-top: auto;
}