.footer {
  width: 100%;
  font-size: var(--font-montserrat-sans);
  padding: 80px 20px 80px;
  display: grid;
  grid-template-areas: 'logo' 'button' 'contacts' 'nav' 'info';

  @media (min-width: 768px) {
    grid-template-areas: 'logo button' 'nav nav' 'contacts contacts' 'info info';
  }

  @media (min-width: 1200px) {
    grid-template-areas: 'logo .' 'nav contacts' 'nav button' 'nav .' 'info info';
    grid-template-columns: 1fr min-content;
  }
}


.footer__navigation {
  padding: 33px 0 0;
  border-top: 1px solid var(--dediver-devider);
  grid-area: nav;
  display: grid;
  gap: 80px 40px;
  margin-bottom: 33px;


  @media (min-width: 768px) {
    &:has(.footer__categories--2col) {
      grid-template-columns: 2fr 1fr;
    }
    border-bottom: none;
    grid-template-columns: 1fr 1fr;
  }
}

.footer__categories.footer__categories--2col {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


.footer__logo {
  grid-area: logo;
  margin-bottom: 33px;
}


.footer__button {
  max-height: 56px;
  grid-area: button;
  padding: 16px 24px;
  background-color: var(--brand-brand-primary);
  border-radius: 33px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;

  @media (min-width: 768px) {
    justify-self: right;
    align-self: end;
    margin-bottom: 33px;
  }

}


.footer__info {
  padding-top: 33px;
  border-top: 1px solid var(--dediver-devider);
  grid-area: info;
  display: grid;
  gap: 24px;

  @media (min-width: 768px) {
    grid-auto-columns: 220px;
    grid-auto-flow: column;
    gap: 40px;
  }
}


.footer__contacts {
  grid-area: contacts;
  display: grid;
  gap: 24px;
  margin: 0 0 33px;
  padding-top: 33px;

  @media (min-width: 768px) {
    grid-auto-columns: 220px auto;
    grid-auto-flow: column;
    gap: 40px;
  }

  @media (min-width: 1200px) {
    grid-auto-flow: row;
    border-top: 1px solid var(--dediver-devider);
  }
}


.footer-navigation__list-item {
  white-space: nowrap;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.footer-contacts-item {
  white-space: nowrap;
}

.footer__info-text {
  color: #FFFFFF;
}

.footer__button-icon {
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
}