.AddToCart {
	display: flex;
	gap: 8px;
}


.AddToCart__item {
	display: flex;
}


.UIButton {
	flex: 1;
	width: 100%;
	padding: 12px 0;
	background-color: var(--brand-brand-primary);
	border-radius: 333px;
}