.ButtonFilter {
	padding: 12px 20px;
	background-color: var(--brand-brand-primary);
	border-radius: 33px;
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: nowrap;
	color: #FFFFFF;

	@media (min-width: 1280px) {
		display: none;
	}
}